<footer class="text-white text-center text-lg-start" style="background-color:#37474F">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Footer Content</h5>
        <p>
       Hello, here is a blog that I have set up for you. You can create your account for free and publish as many articles as you want.
      NB: You do not have the right to delete an article, in case of need please contact the <a href="#">admin.</a>
        </p>
      </div>
      <!--Grid column-->


      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4">Adresse email</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="#!" class="text-white">sirikibamba68@gmail.com</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->



      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-3">Contact</h5>

        <ul class="list-unstyled">
          <li>
            <p href="#!" class="text-white ">+225 07 09 59 70 30 </p>
          </li>
          <li>
            <p href="#!" class="text-white ">+225 05 44 20 57 16 </p>
          </li>
        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <hr style="color:#263238">
  <!-- Grid container -->

<section class="">
  <!-- Footer -->
  <footer class="text-center text-white" style="background-color:#37474F">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: CTA -->
      <section class="">
        <p class="d-flex justify-content-center align-items-center">
          <span class="me-3">Créer votre compte gratuitement</span>
          <button type="button" class="btn btn-danger btn-rounded ">
            <a href="{% url 'register' %}"> <span class="text-white">Créer</span></a>
          </button>
        </p>
      </section>
      <!-- Section: CTA -->
    </div>
    <!-- Grid container -->
    <hr style="color:#263238">

    <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #3b5998;"
        href="https://www.facebook.com/profile.php?id=100044361520359"
        role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>


      <!-- Linkedin -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #0082ca;"
        href="https://www.linkedin.com/in/bamba-siriki-722093209/"
        role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>
      <!-- Github -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #333333;"
        href="https://github.com/bamba8?tab=repositories"
        role="button"
        ><i class="fab fa-github"></i
      ></a>

       <!-- Gitlab -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #333333;"
        href="https://gitlab.com/Bamba12"
        role="button"
        ><i class="fab fa-gitlab"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 Copyright
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</section>
</footer>