{% extends 'partials/base.html'%}

{% block content %}
    <div class="container mt-2">
        <div class="card">
            <div class="col-md-12 mt-3">
                <div class="card mt-2">
                    <div class="card-body">
                        <form action="" method="POST" class="mt-2">
                        {% csrf_token%}
                       {{form}}
                       <button class="btn btn-success btn-block mt-4">Modifier article</button>
               </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}